In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import numpy as np

In [3]:
avocado_info = pd.read_csv("avocado_info.csv")

In [4]:
avocado_info.head()

   Growth Duration  Fertilizer
0               98        True
1              108       False
2              129       False
3              116       False
4              111       False

In [6]:
fertilized = avocado_info.loc[avocado_info["Fertilizer"] == True]
not_fertilized = avocado_info.loc[avocado_info["Fertilizer"] == False]

In [7]:
observed_test_stat = np.mean(fertilized["Growth Duration"]) - np.mean(not_fertilized["Growth Duration"]) 
observed_test_stat

np.float64(-9.266142572024918)

In [8]:
avocado_info["Growth Duration"].sample(frac = 1)

379      99
1037    146
490     103
656     138
683     135
       ...
1041     96
1099    128
90      102
834     118
542     126
Name: Growth Duration, Length: 1174, dtype: int64

In [10]:
avocado_info["Growth Duration"].sample(frac = 1).reset_index(drop = True)

0        68
1       124
2       119
3       117
4       133
       ...
1169    113
1170    115
1171    145
1172    106
1173    121
Name: Growth Duration, Length: 1174, dtype: int64